.options {
    font-weight: 300;
    font-size: 18px;
    color: #bababa;
    padding: 10px;
    border-top: 1px solid #404040;
}

.options a {
    text-decoration: none;
    color: inherit;
}

.options span {
    color:  white;
    margin-right: 10px
}